{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% if object %}Edit Driver{% else %}Add Driver{% endif %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'drivers:driver_list' %}">Drivers</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% if object %}Edit{% else %}Add{% endif %}</li>
{% endblock %}

{% block page_header %}{% if object %}Edit Driver{% else %}Add Driver{% endif %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-xl-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">{% if object %}Edit Driver Details{% else %}Add New Driver{% endif %}</h5>
            </div>
            <div class="card-body p-4">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% crispy form %}
                    <div class="mt-4 pt-3 border-top">
                        <a href="{% url 'drivers:driver_list' %}" class="btn btn-outline-secondary me-2">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
